// Adjusts the box sizing
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  background-color: #45aaf2;
  font-family: "Montserrat", sans-serif;
}

#wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#weather-day-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  height: 5rem;
}

#city-header {
  // background: yellow;
  text-align: center;
  color: white;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#search-bar-form {
  // background: green;
  text-align: center;
}

#search-bar-input {
  background-color: white;
  border: none;
  border-radius: 3.5px;
  height: 2.5rem;
  width: 13rem;
  margin: 1.3rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

#weather-icons {
  display: inline-flex;
}

.weather-day {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

// Tablet Media Queries
@media only screen and (min-width: 500px) {
  #search-bar-input {
    width: 25rem;
    height: 3rem;
    margin: 2rem;
  }

  #weather-icons {
    justify-content: space-evenly;
    padding-left: 2rem;
  }

  #weather-day-wrap {
    justify-content: space-evenly;
  }

  #city-header {
    // background: yellow;
    text-align: center;
    font-size: 3rem;
  }

  #search-bar-input {
    font-size: 2rem;
  }
}

// Med Tablet Media Queries
@media only screen and (min-width: 750px) {
  #search-bar-input {
    width: 35rem;
    height: 3rem;
  }
}

// Desktop
@media only screen and (min-width: 1024px) {
  #search-bar-input {
    width: 45rem;
    height: 3.6rem;
    margin: 2rem;
  }

  #weather-icons {
       padding-left: 8%;
  }

  
  #weather-day-wrap {
    margin-top: .5rem;
  }

  #city-header {
    // background: yellow;
    text-align: center;
    font-size: 5rem;
  }

  #search-bar-input {
    font-size: 2rem;
  }

  .weather-temp {
      font-size: 1.5rem;
  }

}
