html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  background-color: #45aaf2;
  font-family: "Montserrat", sans-serif;
}

#header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  font-size: 1.3rem;
  color: white;
}

#c {
  margin-left: 0.8rem;
  width: 1.5rem;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#f {
  margin-left: 0.8rem;
  width: 1.5rem;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#weather-day-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

img {
  height: 5rem;
}

#city-header {
  text-align: center;
  color: white;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#search-bar-form {
  text-align: center;
}

#search-bar-input {
  background-color: white;
  border: none;
  border-radius: 15px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  height: 2.5rem;
  width: 13rem;
  margin: 1.3rem;
  margin-right: 0;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-shadow: 5px 5px 16px -4px #0000009b;
          box-shadow: 5px 5px 16px -4px #0000009b;
  outline: none;
}

#search-bar-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.294);
  font-size: 0.8rem;
}

#search-bar-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.294);
  font-size: 0.8rem;
}

#search-bar-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.294);
  font-size: 0.8rem;
}

#search-bar-input::placeholder {
  color: rgba(0, 0, 0, 0.294);
  font-size: 0.8rem;
}

#search-bar-bttn {
  background-color: #f28d45;
  border: none;
  border-radius: 15px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  height: 2.5rem;
  width: 2rem;
  margin-top: 2rem;
  margin-left: -4.2px;
  -webkit-box-shadow: 5px 5px 16px -4px #0000009b;
          box-shadow: 5px 5px 16px -4px #0000009b;
  cursor: pointer;
  outline: none;
}

#weather-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.weather-day {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
}

.weather-temp-min {
  font-size: 0.9rem;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  #search-bar-input {
    width: 25rem;
    height: 3rem;
    margin: 2rem;
    margin-right: 0;
    font-size: 2rem;
  }
  #search-bar-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 1.5rem;
  }
  #search-bar-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 1.5rem;
  }
  #search-bar-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 1.5rem;
  }
  #search-bar-input::placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 1.5rem;
  }
  #search-bar-bttn {
    height: 3rem;
    margin-top: 3rem;
    margin-left: -4.2px;
    font-size: 1.7rem;
  }
  #weather-icons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 2rem;
  }
  #weather-day-wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .weather-day {
    font-size: 1.3rem;
  }
  #city-header {
    text-align: center;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 750px) {
  #search-bar-input {
    width: 35rem;
    height: 3rem;
  }
  #search-bar-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 2rem;
  }
  #search-bar-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 2rem;
  }
  #search-bar-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 2rem;
  }
  #search-bar-input::placeholder {
    color: rgba(0, 0, 0, 0.294);
    font-size: 2rem;
  }
  #search-bar-bttn {
    height: 3rem;
    width: 2.3rem;
    font-size: 1.76rem;
  }
  .weather-day {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  #search-bar-input {
    width: 45rem;
    height: 3.6rem;
  }
  #search-bar-bttn {
    height: 3.6rem;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -4.2px;
    font-size: 1.76rem;
    width: 4rem;
  }
  #weather-icons {
    padding-left: 8%;
  }
  #weather-day-wrap {
    margin-top: 0.5rem;
  }
  #city-header {
    text-align: center;
    font-size: 5rem;
  }
  #search-bar-input {
    font-size: 2rem;
  }
  .weather-temp {
    font-size: 1.5rem;
  }
  .weather-temp-min {
    font-size: 1.125rem;
  }
  .weather-day {
    font-size: 1.6rem;
  }
  #temp-min-max-day1 {
    margin-left: -2.5rem;
  }
  #temp-min-max-day2 {
    margin-left: -2.5rem;
  }
  #temp-min-max-day3 {
    margin-left: -2.5rem;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 1680px) {
  .weather-day {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 3840px) {
  img {
    height: 5rem;
  }
  #city-header {
    text-align: center;
    font-size: 13rem;
    color: white;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  }
  #search-bar-input {
    width: 90rem;
    height: 7.2rem;
  }
  #search-bar-bttn {
    height: 7.2rem;
    width: 8rem;
  }
  img {
    height: 11rem;
  }
  .weather-temp {
    font-size: 3rem;
  }
  .weather-day {
    font-size: 3rem;
  }
  #footer {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */